@charset "utf-8";
/* CSS Document */

.lebar {
	width:100%;
}

.studi label {
	font-size:13px;
	padding-top:15px;
}

.dua p {
	padding-top:15px;
}

.angka label {
	font-size:15px;
	padding-top:13px;
}

.entry-headers h1.entry-titles {
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #222;
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

.posted-on {
	font-size:11px;
}

article {
	margin-bottom:10px;
}

.geser1 {
	padding-top: 10px;
}

.col-md-full {
    width: 97%;
    margin-left: 10px;
}

.alert-pakai {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.label-pakai {
	width: 110px;
}

.label-pakai-kiri {
	width: 110px;
	margin-left: 10px;
}

.label-pakai-kiri2 {
	width: 130px;
	margin-left: 10px;
}

.label-pakai-kiri3 {
	width: 400px;
	margin-left: 10px;
}

btn-lebar {
	width: 200px;
}